# Application
html/app/plugins/*
!html/app/plugins/.gitkeep
html/app/mu-plugins/*/
!html/app/mu-plugins/field-groups/
html/app/upgrade
html/app/uploads/*
!html/app/uploads/.gitkeep
html/app/db.php

# WordPress
html/wp
html/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep

# Never keep
iworx-backup
debug.log
.vscode
.DS_Store
wp-cache-config.php
