# Ignore everything in the root except the "wp-content" directory.
/*
!.gitignore
!wp-content/
!deploy/
!LICENSE.md
!README.md
!package.json
!gulpfile.js
!_activate.sh
!favicon.*

# Keep these files out of the repo
.sass-cache/
/wp-content/advanced-cache.php
/wp-content/ai1wm-backups
/wp-content/backupwordpress*
/wp-content/cache/*
/wp-content/mu-plugins
/wp-content/mu-plugins.bak
/wp-content/object-cache.*
/wp-content/tablepress-*
/wp-content/plugins
/wp-content/themes/*/node_modules
/wp-content/themes/twenty*
/wp-content/upgrade
/wp-content/uploads
/wp-config.php
*.sql

# Hidden files
*.DS_Store
*Thumbs.db
*~imageoptim*
understrap.diff
