// Links

@mixin link-underline {
  display: inline-block;
  font-weight: $font-weight-bold;
  position: relative;

  &::after {
    background-color: $link-color;
    border-radius: 500px;
    content: "";
    display: block;
    height: 3px;
    margin-top: 3px;
    transition: $transition-default;
    width: 100%;
  }

  &:hover::after {
    background-color: $link-hover-color;
  }
}

.link-underline {
  @include link-underline;
}

@mixin link-body-color {
  color: $body-color;

  &:hover {
    color: $link-hover-color;
  }
}

.link-body-color {
  @include link-body-color;
}

@mixin link-inverse {
  color: $link-hover-color;

  &:hover {
    color: $link-color;
  }
}

.link-inverse {
  @include link-inverse;
}

@mixin link-dark-turquoise {
  color: $primary;

  &::after {
    background-color: $dark-turquoise;
  }

  &:hover {
    color: $link-hover-color;

    &::after {
      background-color: $link-hover-color;
    }
  }
}

.link-dark-turquoise {
  @include link-dark-turquoise;
}

@mixin link-white {
  color: $white;

  &:hover {
    color: $white;
    text-decoration: underline;
  }
}

.link-white {
  @include link-white;
}
