.btn {
  background-image: linear-gradient(
    90deg,
    var(--btn-bg-from, transparent) 0%,
    var(--btn-bg-to, transparent) 95%
  );
  background-size: 100%;
  background-position: right;
  padding-top: calc(#{$btn-padding-y} + 3px); // to make up for lack of border
  padding-bottom: calc(#{$btn-padding-y} + 3px);

  &:hover {
    background-size: 150%;
  }
}

.btn-outline-light {
  border-width: 3px;
  border-color: $dark-turquoise;

  &:hover {
    --btn-bg-from: rgba(0, 242, 255, 1);
    --btn-bg-to: #{$dark-turquoise};

    border-color: $dark-turquoise;
    color: $white;
  }
}

.btn-outline-tealish {
  border-width: 3px;
  border-color: $dark-turquoise;
  color: $dark-turquoise;

  &:hover {
    --btn-bg-from: rgba(0, 242, 255, 1);
    --btn-bg-to: #{$dark-turquoise};

    color: $white;
  }
}

.btn-dark,
.btn-primary {
  --btn-bg-from: #b890ff;
  --btn-bg-to: #{$dark-lavender};
}

.btn-tealish {
  --btn-bg-from: rgba(0, 242, 255, 1);
  --btn-bg-to: #{$dark-turquoise};

  color: $white;

  &:hover {
    color: $white;
  }
}

.btn-light {
  background-color: $white;

  &:hover {
    background-color: $dark-lavender;
    border-color: $white;
    color: $white;
  }
}
