.collapsible-wrap {
  @include wrapper($pale-gray);

  border: 2px solid $dark-lavender;
  border-radius: $btn-border-radius;
  margin-bottom: $paragraph-margin-bottom;
  padding: 0 0.5rem !important;

  .collapsible:last-of-type {
    .collapsible__target {
      padding-bottom: 1px;
    }
  }
}

.collapsible__indicator {
  display: inline-block;
  margin-right: 0.5rem;
  position: relative;
  vertical-align: top;

  .plus,
  .minus {
    position: absolute;
    top: 0;
    left: 0;
  }

  .plus {
    opacity: 0;
  }

  .minus {
    opacity: 1;
  }
}

.collapsible__trigger {
  border-top: 2px solid $dark-lavender;
  margin-left: -0.5rem;
  margin-right: -0.5rem;

  .btn {
    border-radius: 0;
    color: $blueberry;
    display: block;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: left;
    white-space: normal;

    &:hover,
    &:active {
      color: $dark-lavender;
    }

    &:focus {
      box-shadow: none;
    }
  }

  .collapsed .collapsible__indicator {
    .plus {
      opacity: 1;
    }

    .minus {
      opacity: 0;
    }
  }
}

.collapsible:first-of-type .collapsible__trigger {
  border-top: 0;
}

.collapsible__target {
  margin-bottom: 1rem;
  padding: 0 0.5rem;
}
