/**
 * Gutenberg block classes
 */

.main {
    a:not(.btn):not(.acf-link):not(.wp-block-button__link) {
        @include link-tealish;

        font-style: italic;
        font-weight: $font-weight-bold;
        text-decoration: underline;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        a {
            color: $headings-color !important;
            font-style: normal !important;
            text-decoration: none;

            &:hover {
                color: $tealish !important;
            }
        }
    }
}

.wp-block-button .wp-block-button__link {
    @extend .btn;
}

.wp-block-button__link:not(.has-background) {
    @extend .btn-primary;
}

.wp-block-button__link.has-tealish-background-color {
    @extend .btn-tealish;
}

.wp-block-pullquote {
    @include media-breakpoint-up(lg) {
        float: left;
        margin-left: -20.83333%;
        margin-right: 2rem;
        width: 50%;
    }

    clear: both;
    margin-top: $paragraph-margin-bottom;
    margin-bottom: $paragraph-margin-bottom;
    padding: 0;
    text-align: left;

    blockquote {
        margin: 0;
    }

    p {
        @extend .h3;

        margin-bottom: 0;
    }

    cite {
        color: $headings-color;
        font-weight: $font-weight-bold;
    }
}

.wp-block-quote {
    clear: both;
    font-style: italic;
    border-left: 3px solid $tealish;
    padding: 0 2rem 0 1rem;

    p {
        margin-bottom: 0;
    }
}

.wp-block-columns {
    @extend .row;

    &.has-2-columns .wp-block-column {
        @extend .col-12;
        @extend .col-md-6;
    }
}
